.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
    margin: 0 auto;
}

.pokemon {
    border: 1px solid black;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    height: 60px;
    width: 100%;
    background-color: blueviolet;
    color: mediumblue;
}